@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #f3e4c5;
    --gray: #b0a992;
    --black: #151008;
    --red: #c14a4a;
    --green: #6c782e;
    --light-orange: #e96d33;
    --orange: #db5208;
    --dark-orange: #f48a5c;
    --light-brown: #7b512f;
    --brown: #482913;
    --dark-brown: #2d190c;
    --light-blue: #4d6a7d;
    --blue: #2f4a5c;
    --dark-blue: #1e2c33;

    --primary: var(--orange);
    --secondary: var(--blue);
    --background: var(--white);
    --foreground: var(--black);
    --destructive: var(--red);
    --border: var(--light-brown);
    --accent: var(--brown);
    --popover: var(--light-brown);
    --card: var(--dark-brown);
    --ring: var(--green);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;

    @font-face {
      font-family: "Bungee Tint";
      font-style: normal;
      font-weight: 400;
      src: url(https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap);
    }

    font-family: "Bungee Tint";
  }
  body {
    @apply bg-background text-foreground;
  }
}
